<!DOCTYPE html>
<html>
  <head>
    <title>PAE News API</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    {{>header}}

    {{{body}}}
    <script src="/js/bundle.min.js"></script>
  </body>
</html>
