<script>
function openNews(url) {
  window.open(url, "_blank")
}
</script>


<div>
  {{#if success}}
    <div class="success">
      <span>User was registered correctly</span>
    </div>
  {{/if}}
  {{#if error}}
    <div class="error">
      <span>An error ocurred while registering user</span>
    </div>
  {{/if}}
  <div style="position: relative;">

    <form id="registerForm" action="/register" method="post" enctype="multipart/form-data">

      <input id="formInput" type="text" name="name" placeholder="Nombre">
      <input id="formInput" type="text" name="email" placeholder="Email">
      <input id="formInput" type="password" name="password" placeholder="Contraseña">
      <input id="formInput" type="file" name="avatar" />
      <input type="submit" value="Get me the stats!" class="btn btn-default"> 
      <br>
      <a href="/auth/google" style="width: 100%;" id="button-google" class="btn btn-danger">
      <div style="margin-top: 15px;width: 100%;background-color: white;border-radius: 5px;padding:10px;" id="button-google">
<img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
    
      Iniciar sesión con Google
      </div>
      </a>
    </form>
  </div>
</div>
